@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  overflow: hidden; /* prevent scrolling, keeps layout fixed */
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: black; /* ensure text is always black */
}
